<div class="container">

  <%= form_with url: cities_path, method: :get, local:true do |form| %>
    <%= form.select :country_id, @countries.map { |country| [country.name, country.id] },  include_blank: true %>
    <%= form.submit "Confirm" %>
  <% end %>

</div>
